<a href="https://colab.research.google.com/github/GTD2101-ACD-AB-EJ23/03-pandas-21170474/blob/main/01.%20CreateReadWrite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creando, Leyendo y Escribiendo datos

En este JNB se revisará el tema de creación, lectura y escritura de datos en Pandas

In [ ]:
print("Hello World!")

Hello World!

### Importamos la biblioteca

In [1]:
import pandas as pd

In [7]:
personal = {"Nombre":['Hugo', 'paco', 'luis'], "Edad":[20,21,22]}
df = pd.DataFrame(personal)

In [8]:
df.head()

  Nombre  Edad
0   Hugo    20
1   paco    21
2   luis    22

In [9]:
df.tail()

  Nombre  Edad
0   Hugo    20
1   paco    21
2   luis    22

In [10]:
df.describe()

       Edad
count   3.0
mean   21.0
std     1.0
min    20.0
25%    20.5
50%    21.0
75%    21.5
max    22.0

### Leyendo archivos separados por comas

In [16]:
wine_reviews =pd.read_csv('https://raw.githubusercontent.com/GTD2101-ACD-AB-EJ23/03-pandas-21170474/main/data/winemag-data-130k-v2.csv', index_col=0)

In [17]:
wine_reviews.tail()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [14]:
wine_reviews.shape

(129971, 14)